# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/
.pytest_cache/
.mypy_cache/

# Virtual envs (never commit these)
env/
.venv/
venv/

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
.env
.env.*
